site_name: Simha & Sarva 
use_directory_urls: false

theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.top
  palette:
    - scheme: default
      primary: blue grey
      accent: blue grey
  font:
    text: Roboto
    code: Roboto Mono

nav:
  - Home: index.md
  - About the Firm: about.md
  - Practice Areas: practice-areas.md
  - People: people.md
  - Contact: contact.md

extra_javascript:
  - js/disclaimer-popup.js

extra_css:
  - css/custom.css
  - css/disclaimer.css
