/* =========================================================
   GLOBAL / MKDOCS CLEANUP
========================================================= */

.md-typeset img {
  max-width: 720px;
  display: block;
  margin: 1.5rem auto;
}

/* Remove in-page table of contents */
.md-nav--secondary {
  display: none !important;
}

/* Remove left navigation sidebar */
.md-sidebar--primary {
  display: none !important;
}

/* Center main content */
.md-main__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

/* Hide search bar */
.md-search {
  display: none !important;
}

/* Reduce padding */
.md-content {
  padding: 1.5rem 1rem;
}

/* =========================================================
   PEOPLE GRID (2 PER ROW)
========================================================= */
.people-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;

  max-width: 1100px;
  margin: 2.5rem auto;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.person-card {
  border: 1px solid #E5E7EB;
  padding: 1.5rem;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.person-photo {
  width: 180px;
  margin: 0 auto 0.75rem;
  display: block;
}

.person-bio {
  display: none;
  margin-top: 1rem;
  font-size: 0.82rem;

}

.person-card.expanded .person-bio {
  display: block;
}

.person-bio p {
  text-align: justify;
  hyphens: auto;
}


@media (max-width: 768px) {
  .people-grid {
    grid-template-columns: 1fr;
  }
}
